<app-home></app-home>
<div class="card" >
    <br>
        <div class="row" style="margin-left: 40px">
            <div class="col-sm-4 text-center">
                <div class="card">
                    <div class="card-body">
                      <img src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t1.0-1/p240x240/29063485_1659424430807667_4337560930995883609_n.jpg?_nc_cat=105&_nc_oc=AQlazz4tbl4rS5O5Mc-tdKPzzWz5j8pINw6XjzN3sL8kply2Rg2H5k3MMLd0bZJXbLpnFX6FpdA_DLzfmN_dd1zo&_nc_ht=scontent.fmkc1-1.fna&oh=fb52eaac1cef2ae4faf99eff8660a1c2&oe=5E2D9010" alt="">
                      <input type="type" name="image" id="image" placeholder="Please enter your Image Link">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="profile-head emp-profile">
                        <h5>
                        <input placeholder="Enter Used Id">
                        </h5>
                        <h6>
                        <input placeholder="Enter Department">
                        </h6>     
                        <hr> 
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Please Enter Your Name">
                            </div>                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email ID:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Please Enter Your email">
                            </div>                                
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="name" id="name" placeholder="Please Enter Your Address">
                            </div>                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Contact:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="tel" name="name" id="name" placeholder="Please Enter Your Contact">
                            </div>                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Age:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Please Enter Your Age">
                            </div>                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date Of Birth:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" name="name" id="name" placeholder="Please Enter Your Date Of birth">
                            </div>                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>University:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Please Enter Your University Name">
                            </div>                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Major:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Please Enter Your Major">
                            </div>                                
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <label>Year Joined:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Please Enter Year Joined">
                            </div>                                
                        </div>                                                      
                    </div>
                  </div>
                </div>
            </div>
            <button style="height: 100%;" routerLink="/Profile">Save</button>
        </div>
    <br>
</div>
<app-footer></app-footer>