<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
    {{title}}
</header>
<nav id="navbar">
    <ul>
    <li><a class="active" routerLink="/Courses">Home</a></li>
    <li><a routerLink="/Friends" >Friends</a></li>
    <li><a routerLink="/OnlineCourses">Online Courses</a></li>
    <li><a routerLink="/Announcements">Announcements</a></li>
    <li><a routerLink="/VideoLessons">Video Lessons</a></li>
    <li><a routerLink="/DiscoverBooks">Discover Books</a></li>
    <li class="right"><a routerLink="/Profile">Profile</a></li>
    <li class="right"><a routerLink="/edit_course">Edit Course</a></li>
    </ul>
</nav>
