<app-home></app-home>
<div class="card-deck">
    <div class="card" style="margin: 40px">
      <iframe class="card-img-top" width="853" height="355" src="https://www.youtube.com/embed/tyDKR4FG3Yw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Discrete Mathematics</h5>
        <p class="card-text">Today we introduce set theory, elements, and how to build sets.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card" style="margin: 40px">
      <iframe class="card-img-top" width="853" height="355" src="https://www.youtube.com/embed/DuDz6B4cqVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Data Structures</h5>
        <p class="card-text">Today we’re going to talk about on how we organize the data we use on our devices. You might remember last episode we walked through some sorting algorithms, but skipped over how the information actually got there in the first place! And it is this ability to store and access information in a structured and meaningful way that is crucial to programming. From strings, pointers, and nodes, to heaps, trees, and stacks get ready for an ARRAY of new terminology and concepts.
          </p>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
      </div>
    </div>
</div>
<div class="card-deck">
    <div class="card" style="margin: 40px">
      <iframe class="card-img-top" width="853" height="355" src="https://www.youtube.com/embed/26QPDBe-NB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Operating Systems</h5>
        <p class="card-text">computers keep getting faster and faster, and by the start of the 1950s they had gotten so fast that it often took longer to manually load programs via punch cards than to actually run them! The solution was the operating system (or OS), which is just a program with special privileges that allows it to run and manage other programs. So today, we’re going to trace the development of operating systems from the Multics and Atlas Supervisor to Unix and MS-DOS, and take at look at how these systems heavily influenced popular OSes like Linux, Windows, MacOS, and Android that we use today.</p>
        <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
      </div>
    </div>
    <div class="card" style="margin: 40px">
      <iframe class="card-img-top" width="853" height="355" src="https://www.youtube.com/embed/X3paOmcrTjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Data Science</h5>
        <p class="card-text">This Data Science tutorial video will give you an idea on the life of a Data Scientist, steps involved in Data science project, roles & salary offered to a Data Scientist. Data is everywhere. In fact, the amount of digital data that exists is growing at a rapid rate, doubling every two years, and changing the way we live. Data Science is basically dealing with unstructured and structured data. Data Science is a field that comprises of everything that is related to data cleansing, preparation, and analysis. In simple terms, it is the umbrella of techniques used when trying to extract insights and information from data. Now, let us get started and understand what is Data Science all about.
          </p>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
      </div>
    </div>
</div>
<div class="card-deck">
    <div class="card" style="margin: 40px">
        <iframe class="card-img-top" width="853" height="355" src="https://www.youtube.com/embed/sB2iQSvrcG0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Software Engineering Basics</h5>
        <p class="card-text">In university and colleges, software engineering can be a large part of the learning process. Today, we take a look at just why so much emphasis is placed on software engineering in schools, and what are some of the key learning points in it. Software engineering is all about writing code in a structured and formal way, with the end goal of achieving greater readability and maintainability of code.</p>
        <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
      </div>
    </div>
    <div class="card" style="margin: 40px">
      <iframe class="card-img-top" width="853" height="355" src="https://www.youtube.com/embed/X3paOmcrTjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Data Science</h5>
        <p class="card-text">This Data Science tutorial video will give you an idea on the life of a Data Scientist, steps involved in Data science project, roles & salary offered to a Data Scientist. Data is everywhere. In fact, the amount of digital data that exists is growing at a rapid rate, doubling every two years, and changing the way we live. Data Science is basically dealing with unstructured and structured data. Data Science is a field that comprises of everything that is related to data cleansing, preparation, and analysis. In simple terms, it is the umbrella of techniques used when trying to extract insights and information from data. Now, let us get started and understand what is Data Science all about.
          </p>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
      </div>
    </div>
</div>
<app-footer></app-footer>