<body>
	<div class="sign-up-page"> 
		<img class="signin-logo-img" src="https://signup.com/mobileweb/2.0/images/build/mobile-organizers.png" alt="Sign Up">
		<h1> SIGN IN</h1>
		<form>
			<input type="Email" class="input-box" placeholder="Your Email">
            <input type="Password" class="input-box" placeholder="Your Password">	
			<button routerLink="/Courses" type="button" class="signup-btn"> Sign In </button>
			<hr>
			<p class="or">OR</p>
			<button type="button" class="facebook-btn"> Login with Facebook </button>
			<p> Do you have an account? <a routerLink="/SignUp">Sign Up</a></p> 
		</form>
	</div>

</body>
