<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
    <div class="row">
            <div class="column">
                <p class="title">
                    About Me
                </p>
                <p>
                    We are of three graduate student from University of Missouri Kansas City worked together to design this project for the academic purpose.
                </p>
            </div>
            <div class="column">
                <p class="title">
                    News Letter
                </p>
                <p>
                    
                </p>
                <input type="EMAIL" placeholder="Email Address"><button >></button>
            </div>
            <div class="column">
                <p class="title">
                    Follow Me
                </p>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
    </div>
</div>