.footer{
    background-color: black;
    font-family: 'Courier New', Courier, monospace; 
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.column{
    width: 31.4%;
    float: left;
    padding: 0;
    overflow: hidden;
    height: 200px;
    margin: 10px 10px;
}
.row{
display: inline, block;
content: "";
display: table;
clear: both;
}   
.title{
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}
input{
    width: 80%;
    height: 20px;
}
