<div class="footer">
    <div class="row">
            <div class="column">
                <p class="title">
                    About Me
                </p>
                <p>
                    We are of three graduate student from University of Missouri Kansas City worked together to design this project for the academic purpose.
                </p>
            </div>
            <div class="column">
                <p class="title">
                    News Letter
                </p>
                <p>
                    
                </p>
                <input type="EMAIL" placeholder="Email Address"><button></button>
            </div>
            <div class="column">
                <p class="title">
                    Follow Me
                </p>
            </div>
    </div>
</div>